/* Navigation */
nav {
  /* display: block; */
  /* float: right; */
  position: fixed;
  top     : 13px;
  left    : 83%;
}

nav a {
  padding        : 6px;
  margin         : auto;
  text-decoration: none;
  color          : black;
}

.signin {
  background-color: rgb(0, 132, 255);
  color           : whitesmoke;
  border-radius   : 7px;
}


/* Main Content */
section img {
  display   : block;
  margin    : 0 auto;
  margin-top: 12%;
}

input {
  display      : block;
  margin       : 0 auto;
  margin-top   : 1%;
  width        : 26%;
  height       : 33px;
  border-radius: 21px;
  padding-left : 30px;
  border       : 1px solid rgba(128, 128, 128, 0.466);
}