/* Navigation */
nav {
  position: sticky;
  top     : 13px;
  left    : 80%;
  display : inline-block;
}

nav a {
  padding        : 10px 16px;
  margin         : auto;
  text-decoration: none;
  color          : black;
}

.signin {
  background-color: rgb(54, 65, 227);
  color           : whitesmoke;
  border-radius   : 7px;
}


/* Main Content */
section img {
  display   : block;
  margin    : 0 auto;
  margin-top: 12%;
}

input {
  display      : block;
  margin       : 0 auto;
  margin-top   : 1%;
  width        : 26%;
  height       : 33px;
  border-radius: 21px;
  padding-left : 30px;
  border       : 1px solid rgba(128, 128, 128, 0.466);
}